body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
}

h1 {
    color: #4CAF50; /* A nice green color */
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
hr {
    margin: 20px 0;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.price-table th, .price-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.price-table th {
    background-color: #4CAF50;
    color: white;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0;
}
